{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: black;
    margin: 0%;
    margin-top: 0%;
}
h1{
    font-size: 72px;
    color: white;
    margin-top: 0px;
    margin-bottom: -15px;
}
.Text_Highlight{
  background: -webkit-linear-gradient(#b3038d, #ffa9ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttom-image-half-width h4{
font-size: 30px;
background: -webkit-linear-gradient(#ffa200, #fb210d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttom-image-half-width p{
    text-align: justify;
    font-size: small
}
.align-button {
    text-align: right;
    background-color: #000000;
    background-image: url(../My-Portfolio-master/My-Portfolio-master/images/top-banner_-_Copy-removebg-preview.png);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 20px;
}
.profile-link-button{ 
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
}
.half-width p {
    color: white;
}
.half-width {
    width: 45%;
    float: left;
    padding-left: 60px;
}
.image-half-width {
    padding-left: 65%;
    padding-top: 1%;
}
.h1-top{
    margin-top: -10%;
}
.buttom-image-half-width{
width: 45%;
float: left;
}
.buttom-image-half-width img{
    width: 70%;
}
.buttom-image-half-width p{
    color: white;
}