{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: black;
    margin: 0%;
    margin-top: 0%;
}
h1{
    font-size: 72px;
    color: white;
    margin-top: 0px;
    margin-bottom: -15px;
}
.Text_Highlight{
font-size: 72px;
  background: -webkit-linear-gradient(#b3038d, #ffa9ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.half-width p {
    color: white;
}
.half-width {
    width: 45%;
    float: left;
    padding-left: 60px;
}
.image-half-width {
    padding-left: 65%;
    padding-top: 1%;
}
.top-banner{
background-image: url(../My-Portfolio-master/My-Portfolio-master/images/top-banner_-_Copy-removebg-preview.png);
background-repeat: no-repeat;
padding-bottom: 50px;
}
.h1-top{
    margin-top: -10%;
}
.buttom-image-half-width{
width: 45%;
float: left;
}
.buttom-image-half-width img{
    width: 70%;
}
.buttom-image-half-width p{
    color: white;
}