body{
    background-color: rgb(0, 0, 0);
    margin: 0%;
}
h1{
    font-size: 72px;
    color: white;
    margin-top: 0px;
    margin-bottom: -15px;
}
.Text_Highlight{
  background: -webkit-linear-gradient(#b3038d, #ffa9ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttom-image-half-width h4{
font-size: 30px;
background: -webkit-linear-gradient(#ffa200, #fb210d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttom-image-half-width p{
    text-align: justify;
    font-size: small
}
.align-button {
    text-align: right;
    background-color: #000000;
    background-image: url(../My-Portfolio-master/My-Portfolio-master/images/top-banner_-_Copy-removebg-preview.png);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 20px;
}
.profile-link-button{ 
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
}
.half-width p {
    color: white;
}
.half-width {
    width: 45%;
    float: left;
    padding-left: 60px;
}
.image-half-width {
    padding-left: 65%;
    padding-top: 1%;
}
.h1-top{
    margin-top: -10%;
}
.buttom-image-half-width{
width: 45%;
float: left;
}
.buttom-image-half-width img{
    width: 70%;
}
.buttom-image-half-width p{
    color: white;
}
/* Nicher Area  */
.buttom-area{
    margin: 100px 0px;
    background: url("../My-Portfolio-master/My-Portfolio-master/images/dream-bg.png");
   
    background-repeat: no-repeat;
    background-position: right;

}
.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.button-area-wrapper{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.button-area-left{
   max-width: 550px; 
   width: 100%;
   flex: 300px;
}
.button-area-left img{
    width: 100%;
    display: block;
}
.button-area-right{
    max-width: 550px; 
    width: 100%;
    flex: 300px;
}
.button-area-right h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #ffffff;
}
.button-area-right p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
